html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  text-align: center;
  font-family: "Montserrat";
  background-color: #9DA7B2;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 1.5em;
}

ul {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
}

a,
li {
  list-style: none;
  text-decoration: none;
}

a:link,
a:visited {
  color: #000;
}

img {
  max-width: 100%;
}

header {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: #9DA7B2;
  z-index: 1;
}

nav li {
  margin: 0.625rem;
  font-size: 2rem;
}

main {
  width: 100%;
  margin: 5rem auto;
  font-size: 3rem;
  position: relative;
  top: 7rem;
}

footer {
  position: relative;
  top: 7rem;
  margin: 10rem auto 0;
  height: 5rem;
}

main section,
#work-tab h2 {
  margin-top: 10rem;
}

#work-tab,
#about-tab {
  display: none;
}

#skills ul {
  flex-wrap: wrap;
}

#certificate {
  margin: 15rem auto;
}

#certificate a {
  font-style: italic;
}

#projects li {
  margin: 1rem;
}

#tea:hover img,
#webstyle:hover img,
#excursion:hover img {
  transform: scale(140%);
}

@media screen and (min-width: 1400px) {
  #index-tab {
    width: 80%;
    margin: auto;
  }
  #work-tab,
  #about-tab {
  width: 90%;
  margin: auto;
  }
}

@media screen and (max-width: 1400px) {
  #work-tab {
  width: 88%;
  margin: auto;
  }
}

@media screen and (max-width: 1000px) {
  #projects ul {
  flex-direction: column;
  width: 85%;
  margin: auto;
  }

  #tea:hover img,
  #webstyle:hover img,
  #excursion:hover img {
  transform: none;
}
}

@media screen and (max-width: 720px) {
  header h1 {
    width: 50%;
  }

  #index-tab {
  width: 80%;
  margin: auto;
  }
}

#hobbies ul {
  flex-direction: column;
}

#about p {
  line-height: 5rem;
}

#hobbies li {
  margin: 1.5rem;
}

#contact a {
  margin: 2rem;
}

#mail {
  margin: 4rem;
}